@model BasicSchoolWepApp.Models.EntityFramework.tbl_Notlar
@{
    ViewBag.Title = "UpdateNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info pb-5">Not Güncelleme Paneli</h2>
<br />
@using (Html.BeginForm("UpdateNote", "Note", FormMethod.Post))
{
    @Html.HiddenFor(n => n.NotId)
    <div class="form-group">
        @Html.LabelFor(n => n.OgrId)
        @Html.DropDownListFor(n => n.tbl_Ogrenciler.OgrID, (List<SelectListItem>)ViewBag.Students,"ÖĞRENCİLER", new { @class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.DersId)
        @Html.DropDownListFor(n => n.tbl_Dersler.DersId,(List<SelectListItem>)ViewBag.Lessons,"DERSLER",new { @class="form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.Sinav1)
        @Html.TextBoxFor(n => n.Sinav1,new{ @class="form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.Sinav2)
        @Html.TextBoxFor(n => n.Sinav2, new { @class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.Sinav3)
        @Html.TextBoxFor(n => n.Sinav3, new { @class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.Proje)
        @Html.TextBoxFor(n => n.Proje, new { @class="form-control"})
    </div>
    <button class="btn btn-primary">Güncelle</button>
}